.wr360_player
{
     width:100%;
     height:100%;
     background:#fff;
    -webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
    -ms-touch-action:none;
    touch-action:none;
}

.wr360_player .container
{
     position:relative;
     overflow:hidden;
     margin:0 !important;
	 background:inherit !important;
     max-width:none !important;
}

.wr360_player img
{
     max-width:none !important;
     max-height:none !important;
     border:none !important;
     box-shadow:none !important;
}

.wr360_player .container .panning2,
.wr360_player .container .panning
{
     position:absolute;
     left:0;
     top:0;
}

.wr360_player .container .theme_panel_back
{
     position:absolute;
     width:100%;
     bottom:0;
     left:0;
     margin-bottom:0px;
     height:50px;
     z-index:2500;
}

.wr360_player .container .theme_panel
{
     position:absolute;
     width:100%;
     bottom:0px;
     left:0;
     margin-bottom:0px;
     height:50px;
     z-index:2501;
}

.wr360_player .container .theme_header
{
     height:20px;
     z-index:2500;
}

.wr360_player .container .theme_header .progress_bar
{
     background:url(../img/retina/load_js.gif) left top no-repeat;
     margin:1px 0 0 6px;
     float:left;
     width:43px;
     height:8px;
     cursor:pointer;
}

.wr360_player .container .theme_header .progress_num
{
     position:absolute;
     left:56px;
     top:0px;
     width:30px;
     text-align:left;
     color:#A0A0A0;
     font-family:Arial Narrow;
     font-size:8px;
     padding:0;
     margin:0;
     line-height:8px;
     height:8px;
     border:none;
}

.wr360_player .container .theme_header a.watermark
{
     margin-left:5px;
     margin-top:5px;
     display:block;
     float:left;
     width:1px;
     height:1px;
     cursor:pointer;
     display:none;
}

.wr360_player .container .theme_panel .toolbar
{
     position:relative;
     height:42px;
     padding:3px 2px 0 2px;
     margin:0px auto -1px auto;
	 -moz-box-sizing: content-box !important;
	 box-sizing:content-box !important;
     border:none !important;
     background:inherit !important;
}

.wr360_player .container .theme_panel .toolbar a
{
    transition:none !important;
}

.wr360_player .container .theme_panel .toolbar a.left_button
{
     background:url(../img/retina/left.png) no-repeat 0 0;
     display:block;
     float:left;
     width:41px;
     height:41px;
     margin:2px 0 0 0px;
     cursor:pointer;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) 
{ 
	.wr360_player .container .theme_panel .toolbar a.left_button
	{
		background:url(../img/retina/left2x.png) no-repeat 0 0;
		background-size:41px 41px;
	}	
}

.wr360_player .container .theme_panel .toolbar a.play_button
{
     background:url(../img/retina/play.png) no-repeat 0 0;
     display:block;
     float:left;
     width:41px;
     height:41px;
     margin:2px 0 0 10px;
     cursor:pointer;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) 
{ 
	.wr360_player .container .theme_panel .toolbar a.play_button
	{
		background:url(../img/retina/play2x.png) no-repeat 0 0;
		background-size:41px 41px;
	}	
}

.wr360_player .container .theme_panel .toolbar a.pause_button
{
     background:url(../img/retina/pause.png) no-repeat 0 0;
     display:block;
     float:left;
     width:41px;
     height:41px;
     margin:2px 0 0 10px;
     cursor:pointer;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) 
{ 
	.wr360_player .container .theme_panel .toolbar a.pause_button
	{
		background:url(../img/retina/pause2x.png) no-repeat 0 0;
		background-size:41px 41px;
	}	
}

.wr360_player .container .theme_panel .toolbar a.right_button
{
     background:url(../img/retina/right.png) no-repeat 0 0;
     display:block;
     float:left;
     width:41px;
     height:41px;
     margin:2px 0 0 10px;
     cursor:pointer;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) 
{ 
	.wr360_player .container .theme_panel .toolbar a.right_button
	{
		background:url(../img/retina/right2x.png) no-repeat 0 0;
		background-size:41px 41px;
	}	
}

.wr360_player .container .theme_panel .toolbar a.zoomin_button
{
     background:url(../img/retina/zoomin.png) no-repeat 0 0;
     display:block;
     float:left;
     width:41px;
     height:41px;
     margin:2px 0 0 10px;
     cursor:pointer;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) 
{ 
	.wr360_player .container .theme_panel .toolbar a.zoomin_button
	{
		background:url(../img/retina/zoomin2x.png) no-repeat 0 0;
		background-size:41px 41px;
	}	
}

.wr360_player .container .theme_panel .toolbar a.zoomout_button
{
     background:url(../img/retina/zoomout.png) no-repeat 0 0;
     display:block;
     float:left;
     width:41px;
     height:41px;
     margin: 2px 0 0 10px;
     cursor:pointer;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) 
{ 
	.wr360_player .container .theme_panel .toolbar a.zoomout_button
	{
		background:url(../img/retina/zoomout2x.png) no-repeat 0 0;
		background-size:41px 41px;
	}	
}

.wr360_player .container .theme_panel .toolbar a.hotspotson_button
{
     background:url(../img/retina/spoton.png) no-repeat 0 0;
     display:block;
     float:left;
     width:41px;
     height:41px;
     margin:2px 0 0 10px;
     cursor:pointer;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) 
{ 
	.wr360_player .container .theme_panel .toolbar a.hotspotson_button
	{
		background:url(../img/retina/spoton2x.png) no-repeat 0 0;
		background-size:41px 41px;
	}	
}

.wr360_player .container .theme_panel .toolbar a.hotspotsoff_button
{
     background:url(../img/retina/spotoff.png) no-repeat 0 0;
     display:block;
     float:left;
     width:41px;
     height:41px;
     margin:2px 0 0 10px;
     cursor:pointer;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) 
{ 
	.wr360_player .container .theme_panel .toolbar a.hotspotsoff_button
	{
		background:url(../img/retina/spotoff2x.png) no-repeat 0 0;
		background-size:41px 41px;
	}	
}

.wr360_player .container .theme_panel .toolbar a.fullscreenon_button
{
     background:url(../img/retina/fullscreenon.png) no-repeat 0 0;
     display:block;
     float:left;
     width:41px;
     height:41px;
     margin:2px 0 0 10px;
     cursor:pointer;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) 
{ 
	.wr360_player .container .theme_panel .toolbar a.fullscreenon_button
	{
		background:url(../img/retina/fullscreenon2x.png) no-repeat 0 0;
		background-size:41px 41px;
	}	
}

.wr360_player a.fullscreenoff_button
{
    background:url(../img/retina/fullscreenoff.png) no-repeat 0 0;
    width:57px;
    height:57px;
    top:25px;
    right:28px;
    z-index:5000;
    position:absolute;
    cursor:pointer;
    display:block;
    transition:none !important;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) 
{ 
	.wr360_player a.fullscreenoff_button
	{
		background:url(../img/retina/fullscreenoff2x.png) no-repeat 0 0;
		background-size:57px 57px;
	}	
}

.wr360_player .container .theme_panel .toolbar a.hotspotsoff_button:hover,
.wr360_player .container .theme_panel .toolbar a.fullscreenon_button:hover,
.wr360_player .container .theme_panel .toolbar a.fullscreenoff_button:hover,
.wr360_player .container .theme_panel .toolbar a.hotspotson_button:hover,
.wr360_player .container .theme_panel .toolbar a.zoomout_button:hover,
.wr360_player .container .theme_panel .toolbar a.zoomin_button:hover,
.wr360_player .container .theme_panel .toolbar a.right_button:hover,
.wr360_player .container .theme_panel .toolbar a.pause_button:hover,
.wr360_player .container .theme_panel .toolbar a.play_button:hover,
.wr360_player .container .theme_panel .toolbar a.left_button:hover,
.wr360_player a.fullscreenoff_button:hover
{
	opacity:0.8;
}

.wr360_player .container .hotspot_rollover
{
    z-index:15001;
}

.wr360_player .container .hotspot_indicator
{
    z-index:2999;
}

